[Unit]
Description=Odim Django Backend API
After=network.target

[Service]
User=root
WorkingDirectory=/root/odimrepo/backend
Environment="PATH=/root/odimrepo/backend/venv/bin"

# Muhit o'zgaruvchilarini (.env) systemd o'qishi uchun majburiy yo'l:
EnvironmentFile=/root/odimrepo/backend/.env

# 1. 0.0.0.0 o'rniga 127.0.0.1 qildik
# 2. Cloudflare uzmasligi uchun ping-interval va timeout qo'shdik
ExecStart=/root/odimrepo/backend/venv/bin/daphne -b 127.0.0.1 -p 8010 --ping-interval 20 --ping-timeout 60 config.asgi:application

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
