[Unit]
Description=Battle Royale Node.js Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/personal/battle-royale/backend
ExecStart=/usr/bin/node server.js
Restart=always
RestartSec=5
Environment=NODE_ENV=production
Environment=PORT=5330
Environment=JWT_SECRET=bu_yerga_kuchli_secret_yozing
User=root

[Install]
WantedBy=multi-user.target
