[Unit]
Description=Chorva V1 FastAPI API Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/personal/chorva_v1
Environment="PATH=/root/personal/chorva_v1/venv/bin"
Environment="PYTHONPATH=/root/personal/chorva_v1"

# Uvicorn orqali 8004-portda ishga tushirish
ExecStart=/root/personal/chorva_v1/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8004

# Agar dastur o'chib qolsa, 5 soniyadan keyin avtomatik qayta ishga tushadi
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
