[Unit]
Description=TokPoint Celery Beat Service
After=network.target redis-server.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/tokpoint/backend
ExecStart=/root/tokpoint/backend/venv/bin/celery -A app.worker.celery_app beat --loglevel=info
Restart=always

[Install]
WantedBy=multi-user.target
