[Unit]
Description=TokPoint Docker Compose Services
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/root/tokpoint/backend/docker
ExecStart=/usr/bin/docker compose --env-file docker-compose.env -f docker-compose.prod.yml up -d
ExecStop=/usr/bin/docker compose --env-file docker-compose.env -f docker-compose.prod.yml down
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
