[Unit]
Description=TokPoint Backend API
After=network.target postgresql.service

[Service]
User=root
Group=root
WorkingDirectory=/root/tokpoint/backend
Environment="PATH=/root/tokpoint/backend/venv/bin"

# O'zgarishlar:
# 1. host 0.0.0.0 dan 127.0.0.1 ga o'zgardi (xavfsizlik uchun)
# 2. Xotira tejash uchun --workers 1 qo'shildi
# 3. WebSocket uzilmasligi uchun ping-interval va timeout qo'shildi
ExecStart=/root/tokpoint/backend/venv/bin/python3 -m uvicorn app.main:app --host 127.0.0.1 --port 8001 --workers 1 --ws websockets --ws-ping-interval 20 --ws-ping-timeout 60

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
